.VSCodeCounter
Overwatch.code-workspace
.vscode/settings.json
/*
!source
!LICENSE
!README.md
source/providers/1password/*.json
source/cloud/azure/deployment/vmimages/microsoft-dsvm/Linux/configuration-files/.DS_Store
source/cloud/azure/deployment/vmimages/microsoft-dsvm/Linux/.DS_Store
